<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
<div>
    <% failArray.forEach(i => { %>
        <div>
            <br>
            <div class="fail-case"><strong>실패 Case <%= failArray[i] %> :</strong></div><br>
            <div class="fail-input">Input : n = <%= argArray[i] %></div>
            <div class="fail-output">Ouput : <%= problems[proId].tests[i].solution %></div>
            <Br>
            <div style="color: red; padding-left: 5px;">Error Message:  <%= errorArray[i] %></div>
        </div>
        <br>
        <hr>
   <% }); %>
</div>
<br>
<button onclick="handleGoingHome()">다른 문제 풀러가기 </button>

<script>
    function handleGoingHome(){
        window.location.href = "/";
    }
</script>
</body>
</html>