<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <% failArray.forEach(i => { %>
        <div>
            <br>
            <div style="border-radius: 5px; text-align: center; padding: 3px; width: 100px; background-color: lightgray"><strong>실패 Case <%= failArray[i] %> :</strong></div><br>
            <div style="padding-left: 20px;">Input : n = <%= argArray[i] %></div>
            <div style="padding-left: 20px;">Ouput : <%= problems[proId].tests[i].solution %></div>
            <div style="color: red; padding-left: 20px;">Error Message:  <%= errorArray[i] %></div>
        </div>
        <br>
        <hr>
   <% }); %>
</div>
<br>
<button onclick="handleGoingHome()">다른 문제 풀러가기 </button>

<script>
    function handleGoingHome(){
        window.location.href = "/";
    }
</script>
</body>
</html>