<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <% failArray.forEach(i => { %>
        <div>
            <br>
            <strong>실패 Case <%= failArray[i] %> :<br></strong><br>
            Input : n = <%= argArray[i] %><br>
            Ouput : = <%= problems[proId].tests[i].solution %>
        </div>
        <br>
        <hr>
   <% }); %>
</div>
<br>
<button onclick="handleGoingHome()">다른 문제 풀러가기 </button>

<script>
    function handleGoingHome(){
        window.location.href = "/";
    }
</script>
</body>
</html>