<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>테스트 통과  👑</h1><br><br>
    <a href="/"><button>다른 문제 풀러가기</button></a>
</body>
</html>
