body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

p {
  color: blue;
  text-decoration: underline;
}

button {
  color: blue;
}

.li-1, .li-3 {
  border-radius: 20px;
  font-weight: bold;
  color: #fdb927;
  padding: 10px;
  width: 40%;
  background-color: #552583;
}

.li-2, .li-4 {
  border-radius: 20px;
  font-weight:bold ;
  color: #552583;
  padding: 10px;
  width: 40%;
  background-color: #fdb927;
}

.li-1 .title,
.li-3  .title {
  color: rgb(140, 140, 241);
  text-decoration: underline;
}
.li-2 .title,
.li-4  .title {
  color: rgb(0, 98, 255);
  text-decoration: underline;

}

.fail-case {
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  width: 100px;
  background-color: lightgray;
}

.fail-input {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color:#552583;
  height:22px;
  width: 20%;
  background-color: #fdb927;
}

.fail-output {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color:#fdb927;
  height:22px;
  width: 20%;
  background-color: #552583;
}

.err-message {
  color: red;
  padding-left: 5px;
}

.problem-description {
  border-radius: 15px;
  font-weight:bold ;
  color: #552583 ;
  padding: 13px;
  width: 70%;
  background-color: #fdb927;
}